.dialog {
    padding: 20px;
    margin: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;

    .exit {
        display: flex;
        justify-content: flex-end;
    }

    .profile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10%;
        width: 100%;



        &-title {
            display: flex;
            justify-content: center;
        }

        &-body {
            display: flex;
            flex-direction: row;
            width: 100%;

            gap: 20px;
            background-color: #00ffff;

            .image {
                display: flex;
                justify-content: flex-end;
                width: 30%;
                padding-top: 20px;
                background-color: #00ffff;

                .img {
                    width: 100%;
                    height: 100%;
                    max-width: 60%;
                    max-height: 30%;
                    border-radius: 50%;

                    &-update {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        max-height: 30%;


                    }
                }


            }



            .information {
                display: flex;
                flex-direction: column;
                width: 70%;
                gap: 2%;
                background-color: rgb(250, 190, 39);


                .label {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    gap: 1%;
                    padding: 10px;
                    background-color: rgb(46, 39, 250);




                    .data {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 15px 25px 16px 20px;
                        border: 1px solid #F2F2F2;
                        background-color: blanchedalmond;
                        color: black;
                        border-radius: 10px;
                        position: relative;
                        width: 90%;



                    }

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(140, 127, 255);
                        width: 10%;
                    }
                }
            }
        }

    }
}